<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065907165401-23hv0uj0j5cljp5jskhprjicnf6juga1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065907165401-23hv0uj0j5cljp5jskhprjicnf6juga1</string>
	<key>API_KEY</key>
	<string>AIzaSyCcWjZ6zdRwYnCooZhrVpCy6yoKbCKG_9g</string>
	<key>GCM_SENDER_ID</key>
	<string>1065907165401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbasman.Unidance</string>
	<key>PROJECT_ID</key>
	<string>unidance-f4c44</string>
	<key>STORAGE_BUCKET</key>
	<string>unidance-f4c44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065907165401:ios:bfead77dc05ff04ad106c8</string>
	<key>DATABASE_URL</key>
	<string>https://what-the-hack-g1---unidance-default-rtdb.firebaseio.com/</string>
</dict>
</plist>
